.crossroad {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: black;
  z-index: 3;
  border-radius: 50%;
}

.crossroad:hover {
  cursor: pointer;
}
.crossroad-top {
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-10px, -10px);
}
.crossroad-top-left {
  top: 30px;
  transform: translate(-10px, -10px);
}
.crossroad-top-right {
  top: 30px;
  right: 0;
  transform: translate(10px, -10px);
}
.crossroad-bottom {
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-10px, 10px);
}
.crossroad-bottom-left {
  bottom: 30px;
  transform: translate(-10px, 10px);
}
.crossroad-bottom-right {
  bottom: 30px;
  right: 0;
  transform: translate(10px, 10px);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
